<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

  <%= simple_format @post.body %>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @post.permalink %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
